/* Empty. Add your own CSS if you like */

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14;
}

.title {
	font-size: 26px !important;
}

a {
	font-size: 12px;
}

#mainList .introText {
	text-align: center;
}

#mainPost p {
	line-height: 26px;
}